ion-toolbar {
  --background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  


}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


    /* Botton de Mi avatar*/



ion-avatar {
   height: 52px;
  width: 52px;
  object-fit: contain;
  margin-left: 83vw;
  margin-top: -7vh;

  }








  /* Imagen Misky*/





.mi-imagen-personalizada {
  height: 92px;
  margin-top: 4vh;
  vertical-align: middle;
}

// Searcbar

ion-item.custom-searchbar {
  // --- ¡CAMBIA ESTA LÍNEA! ---
  // Esta es la VARIABLE que Ionic usa para su fondo.
  --background: #D9E3F9; // <-- Prueba con un color nuevo aquí

  // (El resto de tus estilos)
  --min-height: 41px; 
  border-radius: 360px; 
  overflow: hidden; 
  margin: 8px 10px;
  --border-width: 0;
  --inner-border-width: 0;
  box-shadow: none;
  position: relative;
  top: 1vh;   /* 10% desde arriba de la pantalla */
}


// Iconos del Boton de búsqueda y Menu


ion-item.custom-searchbar ion-button {
  
  // --- 1. Para CAMBIAR EL COLOR del ícono ---
  --color: #313233; // Tu color de ícono

  // --- 2. Para CAMBIAR EL TAMAÑO (hacer el ícono más grande) ---
  font-size: 1.4rem; // Tu tamaño de ícono

  
  /* (Estilos de centrado) */
  --padding-start: 6px;
  --padding-end: 6px;
  margin-top: auto;
  margin-bottom: auto;


}


/*
   /\_/\
  ( o.o )
   > ^ <
  AQUÍ ESTÁN MIS ESTILOS PARA LOS BOTONES
*/

.vertical-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Esto crea el espacio vertical entre botones (mucho mejor que un div) */
}



.vertical-buttons {
  display: flex;
  flex-direction: column; // Los pone en columna
  align-items: center;   // Los centra horizontalmente
  gap: 45px;             // Espacio vertical entre botones
  padding: 100px;         // Espacio alrededor del contenedor
}

/* Estilo para TODOS los botones dentro de .vertical-buttons 
  Usamos !important para forzar el estilo.
*/
.vertical-buttons ion-button {
  width: 194px !important;  /* <-- ANCHURA (ancho) */
  height: 66px !important; /* <-- LARGURA (alto) */
  
  --background: #325298; // Un azul personalizado
  /* MUY IMPORTANTE:
    Ionic controla la altura con 'padding' interno.
    Si 'height' no funciona solo, añade estas líneas 
    (y ajusta los números hasta que se vea bien):
  */
  --padding-top: 10px !important;
  --padding-bottom: 10px !important;
}

